<h2>Dashboard</h2>

<h3>Vaše sály:</h3>
<ul>
<% @stages.each do |stage| %>
  <li><%= stage.name %>: <%= stage.events.count %> predstavení</li>
<% end %>
<%= "Zatiaľ nemáte vytvorené žiadne sály" if @stages.empty? %>
<%= link_to "Spravovať sály", stages_path %>
</ul>