<div class="projection-date">
  <%= f.label :date, "Dátum" %>
  <%= f.text_field :date, class: "text", size: 30 %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "odstrániť", '#', class: "remove_fields" %>
</div>