<h2>Upravi큐 podujatie</h2>

<%= form_for(@event, url: stage_event_path(@stage)) do |f| %>
    <%= render 'form', f: f %>
<% end %>

<%= link_to 'Zobrazi큐', stage_event_path(@stage, @event) %> |
<%= link_to 'Sp채큐', stage_events_path(@stage) %>
