<div class="festival-logo" style="margin:-15px -15px 0 -15px; text-align:center; background:#201D1E;">
  <img src="<%= image_path('cinematik.png') %>" alt="Logo">
</div>

<h3><center>Vyberte si deň</center></h3>

<ul data-role="listview" data-inset="true">
  <% @days.each do |d| %>
  <li>
    <%= link_to formated_date(d.datetime), jqm_day_path(d.date) %>
  </li>
  <% end %>
</ul>

<h3><center>Vyberte si sálu</center></h3>

<ul data-role="listview" data-inset="true">
  <% @stages.each do |s| %>
  <li>
    <%= link_to s.name, jqm_stage_path(s) %>
  </li>
  <% end %>
</ul>