<div class="festival-logo" style="margin:-15px -15px 0 -15px; text-align:center; background:#201D1E;">
  <img src="<%= image_path('cinematik.png') %>" alt="Logo">
</div>

<%= form_tag jqm_search_url, method: :post do %>
  <div data-role="fieldcontain" class="ui-hide-label">
    <label for="search">Hľadať film podľa názvu:</label>
    <input type="search" name="search" id="search" value="" data-mini="true" placeholder="Hľadať film podľa názvu..." />
  </div>
<% end %>

<h3><center>Vyberte si deň</center></h3>

<ul data-role="listview" data-inset="true">
  <% @days.each do |d| %>
  <li>
    <%= link_to formated_date(d.date), jqm_day_path(d.date) %>
  </li>
  <% end %>
</ul>

<h3><center>Vyberte si sálu</center></h3>

<ul data-role="listview" data-inset="true">
  <% @stages.each do |s| %>
  <li>
    <%= link_to s.name, jqm_stage_path(s) %>
  </li>
  <% end %>
</ul>