<div class="page-header">
  <h2>Kontakt</h2>
</div>

<div class="row">
  <div class="span8">
    <address>
      <strong>Michal Valášek</strong><br>
      <a href="mailto:michal.valasek@gmail.com" target="Adresa">michal.valasek@gmail.com</a>
    </address>
  </div>
</div>