<div class="page-header">
  <h2>Program Vášho kina alebo filmového festivalu ako mobilná aplikácia?</h2>
</div>

<div class="hero-unit">
  <h1>ProgramKina.sk</h1>
  <p>Online publikačná platforma pre mobilne prístupné programy kín a filmových festivalov.</p>
  <div>
    <ul>
        <li>Jednoduchá správa programov.</li>
        <li>Podpora pre viacero sál - paralelné lineupy.</li>
        <li>Výstupom je webaplikácia použiteľná vo všetkých moderných telefónoch.</li>
        <li>Špeciálne prispôsobené verzie výslednej webaplikácie pre kiná a pre festivaly.</li>
        <li>Možnosť vizuálneho prispôsobenia/brandingu výslednej webaplikácie.</li>
      </ul>
      <a href="<%= sign_up_url %>" class="btn btn-primary btn-large pull-right">Vyskúšajte!</a>
  </div>
</div>

<ul class="thumbnails">
  <li class="span3">
    <a href="#" class="thumbnail"><img src="http://placehold.it/260x390" alt=""></a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail"><img src="http://placehold.it/260x390" alt=""></a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail"><img src="http://placehold.it/260x390" alt=""></a>
  </li>
  <li class="span3">
    <a href="#" class="thumbnail"><img src="http://placehold.it/260x390" alt=""></a>
  </li>
</ul>