<div data-role="page" id="one" data-add-back-btn="true">
 
  <div data-role="header">
    <h1><%= @provider.name %></h1>
  </div>

  <div data-role="content">
    <%= yield %>
  </div>

  <div data-role="footer">
    <h4>App by Michal Valášek</h4>
  </div>
 
</div>